page-cadastro-aluno {
    .ion-md-trash{
        color: red;
        margin-left: 20px !important;
        cursor: pointer;
    }
    .ion-md-create{
        margin-left: 20px !important;
        cursor: pointer;
    }
}
